

*{
  box-sizing: border-box;
}
body{
  background: #f6f6f6;
  font-size: 14px;
  color: @main-color;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
}
p,h1,h2,h3,h4,h5,h6{
  margin: 0;  
}
p{
 line-height: 1.2rem; 
}

.App {
  
  
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.head{
  border-radius: 0 !important;
  color: @main-color;
  .head-inner{
    width: 1000px;
    display: flex;
    height: 52px;
    justify-content:space-between;
    align-items: center;
    margin: auto;
    a{
      margin: 0 0 0 10px;
    }
  }
  .head-left{
    .logo{
      width: 50px;
      animation: App-logo-spin infinite 20s linear;
    }
    >*{
      vertical-align: middle;
    }
  }
}
.head{
  box-shadow: 0 1px 3px @gray-main;
  padding: 0 !important;
}
.content{
  width: 1100px;
  margin:@second-margin auto;
  
}
a{
  text-decoration: none;
  color: @main-color;
  &:hover,&:focus{
    color: #454545;
  }
}










.sl-paper{
  padding:0.8rem 1.5rem;
  margin:0 0 @second-margin 0;
}

.caption{
  text-align: center;
  font-weight: lighter;
  font-size: 1rem;
  line-height: 2rem;
}
.gird_table{
  border:1px solid rgba(7,28,78,0.10);
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  caption{
    text-align: center;
    font-weight: lighter;
    font-size: 1rem;
    line-height: 2rem;
  }  
  td,th{
    box-shadow: 0 0 3px 0 rgba(7,28,78,0.05);
    border:1px solid rgba(7,28,78,0.10);
    padding:0.4rem;
  }
  th{
    white-space: nowrap;
    background:#FBFCFE;
    font-weight: normal;
    color: #7E8E9F;
    width: 110px;
  }
  td{
    background:#ffffff;
    text-align: left;
  }
  &.gird_table_3{
    th{
      width: 10%;
    }
    td{
      width: 23.3%;
    }
  }
  &.gird_table_4{
    th{
      width: 10%;
    }
    td{
      width: 15%;
    }
  }
}
