.page_community{
  .messagewrap{
    padding: 20px 0 0;
  }
  .messagecommentwrap{
    padding: 10px 0 10px 25px;
    margin: 2px auto;
  }
  .commentbtn{
    margin: 0 15px;
  }
  .messagehead,.messagecontext{
    padding:0 15px;
  }
  .messagecomment{
    padding-bottom:12px; 
  }
  .messageheadpic{
    width: 22px;
    height: 22px;
  }
}