.gamedetails{
  .operate-wrap{
    img{
      width: 100%;
      height: 20px;
    }
  }
  .details_box{
    .details_box_title{
      margin-bottom: 1rem;
    }
  }
  .sysbook_wrap{
    padding: 0;
  }


}